<app-navbar></app-navbar>

<div class="container mt-5">
 
<table class="table" id="Rolelist" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
    <thead>
      <tr>
        <th scope="col">Role ID</th>
        <th scope="col">Role Name</th>
        <th scope="col" class="col-1">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let imes of rolelist">
        <td scope="row">{{imes.role_id}}</td>
        <td>{{imes.role_name}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders2" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.5 1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4H1.5a.5.5 0 0 1 0-1H10V1.5a.5.5 0 0 1 .5-.5M12 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m-6.5 2A.5.5 0 0 1 6 6v1.5h8.5a.5.5 0 0 1 0 1H6V10a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5M1 8a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 1 8m9.5 2a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V13H1.5a.5.5 0 0 1 0-1H10v-1.5a.5.5 0 0 1 .5-.5m1.5 2.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
            </svg>
            Action
          </button>
          <ul class="dropdown-menu">
            <li><a (click)=" viewfunction(imes.role_id,'v')"  class="dropdown-item" data-bs-toggle="modal" data-bs-target="#view" >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
              </svg>
            
              View</a></li>
            <li><a (click)=" viewfunction(imes.role_id,'d')" class="dropdown-item" data-bs-toggle="modal"  data-bs-target="#ConfirmDelete" >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
              </svg>

              Delete</a></li>
            <li><a (click)=" viewfunction(imes.role_id,'u')"  class="dropdown-item" data-bs-toggle="modal" data-bs-target="#UpdateForm"  >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1z"/>
              </svg>
              
              
              Update</a></li>
            <li><hr class="dropdown-divider"></li>

          </ul>
        </td>
        <!-- <td>
          <button onclick="editRow(this)">Edit</button>
          <button onclick="deleteRow(this)">Delete</button>
        </td> -->


      </tr>

    </tbody>
  </table>
  <button  type="button" class="btn btn-primary mb-2" (click)="AddNewbtn()"  data-bs-toggle="modal" data-bs-target="#exampleModal"  >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus-fill" viewBox="0 0 16 16">
      <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
    </svg>
    Add Roles new version </button>
</div>




<!-- Add FORM> -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 *ngIf="boolview"  class="modal-title fs-5" id="exampleModalLabel">View Role</h1>
        <h1 *ngIf="boolupdate" class="modal-title fs-5" id="exampleModalLabel">Update Role</h1>
        <h1 *ngIf="booldelete"  class="modal-title fs-5" id="exampleModalLabel">Do you want to delete ?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1"  class="form-label">ROLE ID</label>
          <input type="text"  class="form-control" [(ngModel)]="role_id" id="exampleFormControlInput1" placeholder="ID">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">ROLE NAME</label>
          <input type="text"  class="form-control" [(ngModel)]="role_name" id="exampleFormControlTextarea1" placeholder="Role Name">
        </div>
        
      </div>
      <div class="modal-footer">
        <!-- <button *ngIf="boolview" type="button" class="btn btn-secondary" data-bs-dismiss="modal" >View</button> -->
        <button *ngIf="booldelete" type="button" class="btn btn-secondary" data-bs-dismiss="modal" >No</button>
        <button *ngIf="booldelete" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="DeleteRoleFunction(this.role_id,'d')" >Yes</button>
        
        <button *ngIf="boolupdate" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="UpdateRolefunction(this.role_name,'u')">Update</button>
        <button *ngIf="booladd" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="SaveRole()"  >Save</button>
       
      </div>
    </div>
  </div>
</div>



<!-- Confirmation Form  Delete-->

<div class="modal fade" id="ConfirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h1 *ngIf="boolview" class="modal-title fs-5" id="exampleModalLabel">View Role</h1>
        <h1 *ngIf="boolupdate" class="modal-title fs-5" id="exampleModalLabel">Update Role</h1> -->
        <h1 *ngIf="booldelete"  class="modal-title fs-5" id="exampleModalLabel">Do you want to delete ?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1"  class="form-label">ROLE ID</label>
          <input type="text" readonly  class="form-control" [(ngModel)]="role_id" id="exampleFormControlInput1" placeholder="ID">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">ROLE NAME</label>
          <input type="text" readonly class="form-control" [(ngModel)]="role_name" id="exampleFormControlTextarea1" placeholder="Role Name">
        </div>
        
      </div>
      <div class="modal-footer">
        <!-- <button *ngIf="boolview" type="button" class="btn btn-secondary" data-bs-dismiss="modal" >View</button> -->
        <button *ngIf="booldelete" type="button" class="btn btn-success" data-bs-dismiss="modal" >No</button>
        <button *ngIf="booldelete" type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="DeleteRoleFunction(this.role_id,'d')" >Yes</button>
<!--         
        <button *ngIf="boolupdate" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="UpdateRolefunction(this.role_name,'u')">Update</button>
        <button *ngIf="booladd" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="SaveRole()"  >Save</button>
        -->
      </div>
    </div>
  </div>
</div>

<!-- Confirm Form Update -->

<!-- Confirmation Form  Delete-->

<div class="modal fade" id="UpdateForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 *ngIf="boolview" class="modal-title fs-5" id="exampleModalLabel">View Role</h1>
        <h1 *ngIf="boolupdate" class="modal-title fs-5" id="exampleModalLabel">Update Role</h1>
        <!-- <h1 *ngIf="booldelete"  class="modal-title fs-5" id="exampleModalLabel">Do you want to delete ?</h1> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1"  class="form-label">ROLE ID</label>
          <input type="text" readonly  class="form-control" [(ngModel)]="role_id" id="exampleFormControlInput1" placeholder="ID">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">ROLE NAME</label>
          <input type="text"  class="form-control" [(ngModel)]="role_name" id="exampleFormControlTextarea1" placeholder="Role Name">
        </div>
      
      </div>
      <div class="modal-footer">
        <!-- <button *ngIf="boolview" type="button" class="btn btn-secondary" data-bs-dismiss="modal" >View</button> -->
        <!-- <button *ngIf="booldelete" type="button" class="btn btn-success" data-bs-dismiss="modal" >No</button>
        <button *ngIf="booldelete" type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="DeleteRoleFunction(this.role_id,'d')" >Yes</button> -->
        
        <button *ngIf="boolupdate" type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="UpdateRolefunction(this.role_name,'u')">Update</button>
        <button *ngIf="booladd" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="SaveRole()"  >Save</button>
       
      </div>
    </div>
  </div>
</div>



<!-- View -->
<div class="modal fade" id="view" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 *ngIf="boolview"  class="modal-title fs-5" id="exampleModalLabel">View Role</h1>
        <h1 *ngIf="boolupdate" class="modal-title fs-5" id="exampleModalLabel">Update Role</h1>
        <h1 *ngIf="booldelete"  class="modal-title fs-5" id="exampleModalLabel">Do you want to delete ?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1"  class="form-label">ROLE ID</label>
          <input type="text" readonly  class="form-control" [(ngModel)]="role_id" id="exampleFormControlInput1" placeholder="ID">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">ROLE NAME</label>
          <input type="text" readonly  class="form-control" [(ngModel)]="role_name" id="exampleFormControlTextarea1" placeholder="Role Name">
        </div>
        
      </div>
      <div class="modal-footer">
        <!-- <button *ngIf="boolview" type="button" class="btn btn-secondary" data-bs-dismiss="modal" >View</button> -->
        <button *ngIf="booldelete" type="button" class="btn btn-secondary" data-bs-dismiss="modal" >No</button>
        <button *ngIf="booldelete" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="DeleteRoleFunction(this.role_id,'d')" >Yes</button>
        
        <button *ngIf="boolupdate" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="UpdateRolefunction(this.role_name,'u')">Update</button>
        <button *ngIf="booladd" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="SaveRole()"  >Save</button>
       
      </div>
    </div>
  </div>
</div>


